<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.etas.vaptools.rtaos.generator.core.LaunchConfigurationType">
<stringAttribute key="VECU_NAME" value="AFS"/>
<listAttribute key="arxml_files">
<listEntry value="${workspace_loc:/AFS/src/gen/MinGW/RTE/osNeeds.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/EVE/RTA-OS/osVECU.arxml}"/>
</listAttribute>
<stringAttribute key="output_loc" value="${workspace_loc:/AFS/src/gen/MinGW/RTAOS}"/>
<stringAttribute key="tool_loc" value="C:\Program Files\ETAS\ISOLAR-EVE3.0\plugins\com.etas.evetools.toolsfolder_1.4.5\Tools\bin\rtaosgen.exe"/>
</launchConfiguration>
