<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.etas.vaptools.rtarte.generator.core.LaunchConfigurationType">
<stringAttribute key="VECU_NAME" value="AFS"/>
<stringAttribute key="additional_command" value="-tsl=128 --samples=swc"/>
<listAttribute key="arxml_files">
<listEntry value="${workspace_loc:/AFS/arxml/AFS/ECUConf.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/RTE_CFG.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/Components.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/ARPackage_0.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/EcuInstance_0_FlatView_SWCD.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/Interfaces.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/OS_CFG.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/LightSystem_EcuExtr.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/EcuInstance_0_FlatMap.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/HeadLightSystem.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/Compositions.arxml}"/>
<listEntry value="${workspace_loc:/AFS/arxml/AFS/ISOLAR_PlatformTypes.arxml}"/>
</listAttribute>
<stringAttribute key="ecu_arxml_path" value="platform:/resource/AFS/arxml/AFS/HeadLightSystem.arxml"/>
<stringAttribute key="ecu_instances" value="/HeadLightSystem/EcuInstance_0"/>
<stringAttribute key="output_loc" value="${workspace_loc:/AFS/src/gen/MinGW/RTE}"/>
<stringAttribute key="tool_loc" value="C:\Program Files\ETAS\ISOLAR-EVE3.0\plugins\com.etas.evetools.toolsfolder_1.4.5\Tools\bin\RTEGen.exe"/>
</launchConfiguration>
