<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.etas.vaptools.mcal.generator.core.LaunchConfigurationType">
<stringAttribute key="VECU_NAME" value="AFS"/>
<stringAttribute key="output_loc" value="${workspace_loc:/AFS/src/gen/MinGW/MCAL}"/>
</launchConfiguration>
